* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;

  background: linear-gradient(
    180deg,
    #0589f5 0%,
    #1d2329 25%,
    #030e1a 50%,
    #1d2329 75%,
    #0589f5 100%
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  padding-bottom: 50px;
}

main {
  flex: 1;
}

html, body {
  height: 100%;
}

header {
  background: transparent;
  color: white;
  padding: 5px 0;
  position: relative;
  z-index: 2;
}

.logo {
  width: 280px;
  display: block;
  margin: 0 auto;
}

.productos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.producto {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.producto img {
  width: 100px;
}


/* Modal edad */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;

  width: 90%;
  max-width: 500px;
  text-align: center;
}

.aviso {
  font-size: 12px;
  margin: 15px 0;
  color: #333;
  line-height: 1.4;
}

.categorias {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 65px;
  margin: 30px 0;
  flex-wrap: wrap;
  overflow: visible;
  
}

.vapor {
  position: absolute;
  width: 300px;
  opacity: 0.5;
  z-index: 0;
  top: -175px;
}

.btn {
  position: relative;
  background: black;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;
  border-radius: 8px;
  transition: 0.3s;
}

.neon-blue {
  color: #00eaff;
  text-shadow:
    0 0 5px #00eaff,
    0 0 10px #00eaff,
    0 0 20px #00eaff;

  box-shadow:
    0 0 5px #00eaff,
    0 0 15px #00eaff;
}

.neon-purple {
  color: #b266ff;
  text-shadow:
    0 0 5px #b266ff,
    0 0 10px #b266ff,
    0 0 20px #b266ff;

  box-shadow:
    0 0 5px #b266ff,
    0 0 15px #b266ff;
}

.neon-pink {
  color: #ff4dff;
  text-shadow:
    0 0 5px #ff4dff,
    0 0 10px #ff4dff,
    0 0 20px #ff4dff;

  box-shadow:
    0 0 5px #ff4dff,
    0 0 15px #ff4dff;
}

.neon-yellow {
  color: #fff200;
  text-shadow:
    0 0 5px #fff200,
    0 0 10px #fff200,
    0 0 20px #fff200;

  box-shadow:
    0 0 5px #fff200,
    0 0 15px #fff200;
}

.btn:hover {
  transform: scale(1.1);
}

.whatsapp-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.wpp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 140px;
  height: 100px;

  background: black;
  color: #39ff14;
  text-decoration: none;

  border-radius: 50px; /* forma base */

  font-weight: bold;
  font-size: 16px;

  transition: 0.3s;

  isolation: isolate;

  overflow: hidden;
}



.wpp-btn {
  box-shadow:
  0 0 5px #39ff14,
  0 0 10px #39ff14,
  0 0 20px #39ff14;

  text-shadow:
    0 0 5px #39ff14,
    0 0 10px #39ff14;

  position: relative;
  z-index: 1;
  overflow: visible;
}

.wpp-btn span {
  position: relative;
  z-index: 2;
}

.icono {
  width: 35px;
}

.wpp-btn:hover {
  transform: scale(1.1);
}

.fondo-stickers {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;

  z-index: 0;
  pointer-events: none;
}

.sticker {
  position: absolute;
  width: 90px;
  opacity: 1;
  animation: flotar 5s infinite alternate ease-in-out;
}

@keyframes flotar {
  from { transform: translateY(0); }
  to { transform: translateY(-15px); }
}

.s1 {
  top: -70px;
  left: 26%;
}

.s2 {
  top: -70px;
  left: 41%;
}

.s3 {
  top: -70px;
  left: 53%;
}

.s4 {
  top: -54px;
  left: 67%;
}

@media (max-width: 600px) {

   body {
    padding-bottom: 70px;
  }

  /* MODAL */
  .modal-content {
    width: 90%;
    max-width: 320px;
    padding: 15px;
  }

  .modal-content h2 {
    font-size: 18px;
  }

  .modal-content button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 14px;
  }

  .aviso {
    font-size: 11px;
  }

  /* HEADER */
  header {
    padding: 5px 0;
  }

  .logo {
    width: 180px;
  }

  /* CATEGORÍAS */
  .categorias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 10px;
    position: relative;
    min-height: 400px;
  }

  .btn {
    width: 90%;
    max-width: 250px;
    font-size: 14px;
  }

  /* VAPOR */
  .vapor {
  width: 100%;
  height: auto;
  top: 55px; 
  left: 0px;
  opacity: 0.35;
  z-index: 0;
}

  /* WHATSAPP */
  .whatsapp-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .wpp-btn {
    width: 110px;
    height: 60px;
    font-size: 14px;
  }

  .icono {
    width: 25px;
  }

  /* 🎨 STICKERS ORGANIZADOS */
 .fondo-stickers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  position: relative; /* quita el absoluto */
  transform: none;
  margin-bottom: 10px;
  height: 80px;
  }

  .sticker {
  position: static;
  width: 90px;
  opacity: 1;
  }

  /* POSICIONES LIMPIAS */
  .s1 {
  position: absolute;
  top: 100px;
  left: 0%;
}

.s2 {
  position: absolute;
  top: 225px;
  left: 0%;
}

.s3 {
  position: absolute;
  top: 350px;
  left: 0%;
}

.s4 {
  position: absolute;
  top: 480px;
  left: 0%;
}

}
